[include ../../../steppers/motors/ldo/tmc2209/28STH40-0674A.cfg]

# ── Stepper X ────────────────────────────────────────────────────────────────
[stepper_x]
step_pin: X_STEP
dir_pin: !X_DIR
enable_pin: !X_ENABLE
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop

# ── Stepper Y ────────────────────────────────────────────────────────────────
[stepper_y]
step_pin: Y_STEP
dir_pin: !Y_DIR
enable_pin: !Y_ENABLE
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop