# ── Filament ─────────────────────────────────────────────────────────────────

[gcode_macro LOAD_FILAMENT]
gcode:
    G91
    G1 E450 F2200                                    # feed through bowden
    G1 E20 F500                                      # prime nozzle
    G1 E-10 F500                                     # retract to prevent ooze
    G90

[gcode_macro UNLOAD_FILAMENT]
gcode:
    G91
    G1 E10 F180                                      # prime tip
    G1 E-20 F1500                                    # form tip
    G4 P10000                                        # cool 10s
    G1 E-500 F2200                                   # retract through bowden
    G90
