[include  /home/pi/printer_data/config/custom/toolheads/default_bambu.cfg]
[include  /home/pi/printer_data/config/custom/babybelt/steppers.cfg]

# ── Printer ──────────────────────────────────────────────────────────────────
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# ── Heater Bed ───────────────────────────────────────────────────────────────

[heater_bed]
heater_pin: BED_HEATER_PIN
sensor_type: Generic 3950
sensor_pin: BED_SENSOR_PIN
control: pid
min_temp: 0
max_temp: 130

# System-specific hotend values
[extruder]
heater_pin: E_HEATER_PIN
sensor_pin: E_SENSOR_PIN
nozzle_diameter: 0.400
filament_diameter: 1.750
# System-specific extruder values
step_pin: E_STEP
dir_pin: !E_DIR
enable_pin: !E_ENABLE