[display_status]
[exclude_object]
[save_variables]
filename: /home/pi/printer_data/config/klipper-variables.cfg

[force_move]
enable_force_move: True
# ── Misc ─────────────────────────────────────────────────────────────────────

[pause_resume]
recover_velocity: 50.

