# ── Homing Override ──────────────────────────────────────────────────────────

[homing_override]
axes: xyz
set_position_y: 25
gcode:
    SET_GCODE_OFFSET Y=0
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% set x_mid = printer.toolhead.axis_maximum.x / 2 | float %}

    {% if "y" not in printer.toolhead.homed_axes %}
        G91
        G1 Y10 F500
        G90
    {% endif %}

    {% if home_all or 'X' in params %}
        G28 X
        G0 X{x_mid} F2000
    {% endif %}

    {% if home_all or 'Y' in params %}
        _SET_HOMING_CURRENT CURRENT=0.20
        G28 Y
        _RESTORE_RUN_CURRENT
        SET_GCODE_OFFSET Y=-0.5  # Adjust negative for belt squish
    {% endif %}

    {% if home_all or 'Z' in params %}
        G28 Z
    {% endif %}

# ── TMC Homing Current ──────────────────────────────────────────────────────
[gcode_macro _SET_HOMING_CURRENT]
variable_stored_current: 0
gcode:
    {% set current = printer["tmc2209 stepper_y"].run_current %}
    SET_GCODE_VARIABLE MACRO=_SET_HOMING_CURRENT VARIABLE=stored_current VALUE={current}
    RESPOND PREFIX="Stored stepper_y current: {'%.2f' % current}"

    {% set RUN_CURRENT = params.CURRENT|default(0.35)|float %}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT}
    G4 P1000

[gcode_macro _RESTORE_RUN_CURRENT]
gcode:
    {% set stored = printer["gcode_macro _SET_HOMING_CURRENT"].stored_current %}
    RESPOND PREFIX="Restoring stepper_y current to: {'%.2f' % stored}"
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={stored}
    G4 P1000