# ── Homing Override ──────────────────────────────────────────────────────────

[homing_override]
axes: xyz
set_position_y: 25
gcode:
    SET_GCODE_OFFSET Y=0
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% set x_mid = printer.toolhead.axis_maximum.x / 2 | float %}

    {% if "y" not in printer.toolhead.homed_axes %}
        G91
        G1 Y10 F500
        G90
    {% endif %}

    {% if home_all or 'X' in params %}
        G28 X
        G0 X{x_mid} F2000
    {% endif %}

    {% if home_all or 'Y' in params %}
        _SET_HOMING_CURRENT CURRENT=0.20
        G28 Y
        _RESTORE_RUN_CURRENT
        SET_GCODE_OFFSET Y=-0.5  # Adjust negative for belt squish
    {% endif %}

    {% if home_all or 'Z' in params %}
        G28 Z
    {% endif %}

axes: y
set_position_y: 25
gcode:
    G91                    # Relative Mode  
    G1 Y10 F500            # Try to move Y 10 mm away from the bed for good measure
    G90                    # Absolute Mode
    G28 X                  # Home X first, because we want to be able to go to hit a point on the bed
    G0 X50 F2000           # Move to the middle of the bed 
    _SET_HOMING_CURRENT CURRENT=.20
    G28 Y 
    _RESTORE_RUN_CURRENT 
    SET_GCODE_OFFSET Y=1 # Diagnostic, because we seem to be homing and then thinking 7.5mm away is actually 0... so if we tell it we're at 7.5, 0 should be correct right?
    G28 Z    

# ── TMC Homing Current ──────────────────────────────────────────────────────
[gcode_macro _SET_HOMING_CURRENT]
variable_stored_current: 0
gcode:
    {% set current = printer["tmc2209 stepper_y"].run_current %}
    SET_GCODE_VARIABLE MACRO=_SET_HOMING_CURRENT VARIABLE=stored_current VALUE={current}
    RESPOND PREFIX="Stored stepper_y current: {'%.2f' % current}"

    {% set RUN_CURRENT = params.CURRENT|default(0.35)|float %}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT}
    G4 P1000

[gcode_macro _RESTORE_RUN_CURRENT]
gcode:
    {% set stored = printer["gcode_macro _SET_HOMING_CURRENT"].stored_current %}
    RESPOND PREFIX="Restoring stepper_y current to: {'%.2f' % stored}"
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={stored}
    G4 P1000