[include /home/pi/printer_data/config/custom/extruders/bowden/bmg_clone.cfg]
[include /home/pi/printer_data/config/custom/hotends/bambu_t2.cfg]

# ── Stepper X Positioning ────────────────────────────────────────────────────────────────
[stepper_x]
position_endstop: 0
homing_retract_dist: 0
position_max: 102
homing_speed: 25


# ── Stepper Y Positioning ────────────────────────────────────────────────────────────────
[stepper_y]
homing_retract_dist: 10
position_min: -7.5
position_max: 105
homing_speed: 25
position_endstop: 0