[include ../../../../steppers/motors/ldo/tmc2209/28STH40-0674A.cfg]

# ── Stepper X ────────────────────────────────────────────────────────────────
[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_ENABLE
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
homing_retract_dist: 0
position_max: 102
homing_speed: 25


# ── Stepper Y ────────────────────────────────────────────────────────────────
[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_ENABLE
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 10
position_min: -7.5
position_max: 105
homing_speed: 25
position_endstop: 0