# BabyBelt Pro — 30/45 Degree Angle Switch
# Uses the E endstop pin to detect a physical switch that indicates
# whether the gantry is set to 30 or 45 degrees.

[gcode_button 45_deg_check]
pin: E_STOP
press_gcode: SET_GCODE_VARIABLE MACRO=Y_ANGLE VARIABLE=state VALUE="45"
release_gcode: SET_GCODE_VARIABLE MACRO=Y_ANGLE VARIABLE=state VALUE="30"

[delayed_gcode angle_switch_intro]
initial_duration: 1
gcode:
    {action_respond_info("Baby Belt Pro Angle Switch Enabled!")}
