[include ../../../../steppers/motors/ldo/tmc2209/42STH25-1004AC.cfg]

# ── Stepper Z (Belt Axis) ───────────────────────────────────────────────────
[stepper_z]
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: !Z_ENABLE
microsteps: 16
rotation_distance: 8.6553
endstop_pin: tmc2209_stepper_z:virtual_endstop
position_endstop: 0.0
homing_retract_dist: 0
position_max: 999999
position_min: -15
